<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    </entityFramework>

    <connectionStrings>
        <add name="MxLocalCacheDatabase" connectionString="data source=/tmp/MxLocalCache.db" providerName="System.Data.SQLite.EF6" />
        <add name="MxLocalCacheUpdateDatabase" connectionString="data source=/tmp/MxReferenceData.db" providerName="System.Data.SQLite.EF6" />
    </connectionStrings>

    

    <appSettings>
        <!--add key="maximoRestURL" value="http://bpl-max-test/maxrest/rest"/-->
        <add key="maximoRestURL" value="http://localhost:8080/maxrest/rest" />


        <add key="syncOnLogin" value="true" />
        <!-- DEV -->
        <!--<add key="TITLE" value="Catch Basin Cleaning DEV"/>
        <add key="maximoRestURL" value="http://bpl-maxcb-dev/maxrest/rest"/>
        <add key="MapContent" value="E:\GISDATA\DC Water\ArcGIS\MapProject.xml"/>
        <add key="MaximoInfo" value="E:\GISDATA\DC Water\Maximo\maxinfo.xml"/>
        <add key="SynchronizeState" value="E:\GISDATA\DC Water\SynchronizeState.xml"/>-->
        <!-- UAT -->
        <add key="TITLE" value="Catch Basin Cleaning UAT" />
        <!--<add key="MapContent" value="C:\GISDATA\DC Water\ArcGIS\MapProject.xml"/>-->

        <add key="MapContent" value="C:\GISDATA\DC Water\ArcGIS\MapProjectPM.xml" />
        <!--<add key="MaximoInfo" value="C:\GISDATA\DC Water\Maximo\maxinfo.xml"/>-->

        <add key="MaximoInfo" value="C:\GISDATA\DC Water\Maximo\maxinfoPM.xml" />
        <add key="SynchronizeState" value="C:\GISDATA\DC Water\SynchronizeState.xml" />

        <add key="GPSAUTO" value="false" />
        <add key="SERIALPORT" value="COM1" />
        <add key="BAUDRATE" value="4800" />
        <add key="AUTOPAN" value="true" />
        <add key="SHOWGPSINFO" value="false" />
        <!-- To simulate GPS-->
        <add key="USEFILEGPS" value="true" />
        <add key="GPSFILENAME" value="C:\GISDATA\DC Water\ArcGIS\gps.txt" />

        <add key="ATTACHMENTPATH" value="C:\TEMP" />
        <add key="SKETCHSTORAGEPATH" value="C:\TEMP" />
        <add key="SKETCHPREFIX" value="sketch_" />
        <add key="SKETCHSUFFIX" value=".png" />
        <add key="SKETCHEXECUTABLEPATH" value="C:\Program Files (x86)\GeoWorxSketch\GeoWorxSketch.exe" />
        <add key="StreetLayer" value="Street Name" />
        <add key="StreetLayer_StreetName" value="REGISTEREDNAME" />
        <add key="StreetLayer_StreetType" value="STREETTYPE" />
        <add key="StreetLayer_StreetDirection" value="QUADRANT" />
        <add key="StreetLayer_LowerLeft" value="FROMLEFTTHEORETICRANGE" />
        <add key="StreetLayer_UpperLeft" value="TOLEFTTHEORETICRANGE" />
        <add key="StreetLayer_LowerRight" value="FROMRIGHTTHEORETICRANGE" />
        <add key="StreetLayer_UpperRight" value="TORIGHTTHEORETICRANGE" />
    </appSettings>

<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data></configuration>