<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AutoSync" value="true" />
    <!-- 600000 => 10 minutes -->
    <add key="SyncIntervalTime" value="600000" />
    <add key="MaximoBaseUrl" value="https://bpl-max-test.dcwasa.com" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
