<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net debug="false">
    <appender name="CBLOG" type="log4net.Appender.FileAppender,log4net">
      <param name="File" type="log4net.Util.PatternString" value="C:\CatchBasin\log\log-%date{yyyy-MM-dd_HH-mm-ss}.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingstyle value="Once"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="CBLOG"/>
    </root>
  </log4net>
  <appSettings>
    <add key="AutoSync" value="true"/>
    <!-- 600000 => 10 minutes -->
    <add key="SyncIntervalTime" value="600000"/>
    <add key="MaximoBaseUrl" value="https://bpl-maxsch-dev3.dcwasa.com"/>
    <add key="ArcGISServerUrl" value="https://geo.dcwater.com/arcgis/rest/services/MobileDev"/>
    <add key="runtimeLicenseKey" value="runtimestandard,1000,rud000188540,13-aug-2020,GB1P0H4AH44DJCAAJ082"/>

    <add key="Tracking" value="false"/>
    <add key="TrackingAPI" value="https://azw-pgeoevent.dcwasa.com:6143/geoevent/rest/receiver/hydrant"/>
    
    <!--add key="MaximoBaseUrl" value="https://bpl-max-test.dcwasa.com" /-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>


</configuration>
